# Generic requirements
numpy
pandas
scipy
sklearn
seaborn
matplotlib
tqdm

# Gather the data
mygene
xenaPython

# Survival analysis
scikit-survival

# Requierements for RAMP Studio
ramp-workflow

# Graph library
networkx